.app__content {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  background-color: #f3f3f3;
}
body,
html {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
